body {
    font-family: 'Roboto Slab', sans-serif;
}

#song_row {
    background-color: #F4F4F4;
    margin-bottom: 5px;
    padding: 10px;
}

#song_title {
    width: 200px;
    display: inline-block;
}

#song_fxns {
    width: 400px;
    display: inline-block;
}

.submit-btn {
    margin-right: 0;
    margin-top: 7px;
}