// Place all the styles related to the Playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.playlist_songs {
    display: none
}

.bordered-playlist {
    border-style: solid;
    border-color: black;
}